/* ===========================
   🐶 Sistema de Diseño - Etología & Veterinaria
   =========================== */


@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'abstracts/functions';
@import 'abstracts/placeholders';

@import 'base/fonts';
@import 'base/reset';
@import 'base/base';
@import 'base/typography';


@import 'layouts/header';
@import 'layouts/footer';

@import 'components/menu';
@import 'components/_theamButton';

@import 'pages/about';
@import 'pages/adoption';
@import 'pages/ethology';
@import 'pages/veterinarians';
@import 'pages/contact';
@import 'pages/appointments';
@import 'pages/privacy';
@import 'pages/terms';
@import 'pages/cookies';
@import 'pages/pet-detail';

@import 'utils/global-imports';




.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}