/* ===========================
   🐶 Sistema de Diseño - Etología & Veterinaria
   =========================== */
@import './utils/fonts';
@import './utils/variables';
@import './components/theamButton';
@import './components/menu';
@import './components/header';
@import './utils/general';
@import './components/about';
@import './components/ethology';




.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}